<p id="notice"><%= notice %></p>

<p>
  <strong>Showing list of items for :</strong>
  <strong><%= @list.list_name %> List</strong>
</p>
<table border="0" class="table">
  <thead>
  <tr>
    <th>Item Names</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <% @list.list_items.each do |list_item|%>
      <tr>
        <td>
          <%= h list_item.item_name%>
        </td>
        <td>
          <%= h list_item.quantity%>
        </td>
        <td>

          <% unless @list.list_items.first.position == list_item.position %>

              <%= link_to image_tag('up.png'),list_list_items_path(@list.id,{ :action => 'index', :method => 'move_higher', :id => list_item.id })%>
              <%= link_to image_tag('top.png'),list_list_items_path(@list.id,{ :action => 'index', :method => 'move_to_top', :id => list_item.id })%>

          <% end %>

          <% unless @list.list_items.last.position == list_item.position %>

              <% unless list_item.position == (@list.list_items.first.position || @list.list_items.last.position) %>  <% end %>

              <%= link_to image_tag('down.png'),list_list_items_path(@list.id,{ :action => 'index', :method => 'move_lower', :id => list_item.id })%>
              <%= link_to image_tag('bottom.png'),list_list_items_path(@list.id,{ :action => 'index', :method => 'move_to_bottom', :id => list_item.id })%>

          <% end %>

        </td>
        </td>
        <td>
          <%=link_to 'Edit item', edit_list_list_item_path(list_item.list, list_item), class: 'btn btn-danger btn-xs' %>
        </td>
        <td>
          <%=link_to 'Delete item', [list_item.list, list_item],method: :delete, data: {confirm: 'Are you sure?'},class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <%end%>
</table>

<%= link_to 'Edit', edit_list_path(@list), class: 'btn btn-info btn-xs' %> |
<%= link_to 'Back', lists_path, class: 'btn btn-primary btn-xs' %>


